.similar__title{
    color: #f85555;
    font-size: 17px;
    padding-left: 10px;
}
.similar__cart-product{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
     

}
/* @media (min-width: 990px) {
    .similar__title{
        
        padding-left: 0px;
    }
} */
