.container__login{
    width: 100%;
    height: 450px;
    display: flex;
    margin-top: 150px;
    justify-content:start;
    justify-items: center;
    align-items: center;
    flex-direction: column;
   text-align: center;
   border-radius: 10px;
   
    }
    .box__login{
        width: 358px;
        height: 600px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        padding: 10px;
    }
.title__login{
    margin-bottom: 20px;
}
.smg__login{
    color: rgb(124, 204, 177);
    margin: 10px 20px;
}
.from__login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.container_input__login-password,
.container_input__login-email{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
    
}

.input__login-password,
.input__login-email{
    height: 30px;
    width: 250px;
    text-align: center;
    border-radius: 4px;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border: 1px solid rgba(0,0,0,.2);
}

.test__login{
    background-color: #d8f5fd;
    height: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px;
    
}
.test__login-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.container__test-data{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.data__test-password,
.data__test-email{
    display: flex;
    gap: 10px;
}
.btn__login{
    background-color: #f85555;
    color: #fff;
    border: none;
    padding: 10px  105px;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

}
