.products__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.products__info-title {
  width: 100%;
  padding-left: 1.5rem;
}
.products-info__footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.products-info_prices-container {
  width: auto;
}
.products-info__Quantity-label,
.products-info__prices-label {
  color: #c7c7c7;
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 20px;
}
.products-info__prices-number {
  font-weight: 700;
}
.products-info__Quantity-btn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 30px;
}
.products-info__Quantity-btn-minus,
.products-info__Quantity-btn-counter,
.products-info__Quantity-btn-plus {
  border: 1px solid #c7c7c7;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.product__info-btn {
  margin-top: 20px;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 10px;
  cursor: pointer;
  height: 60px;
  background-color: #f85555;
  border: none;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
}
.products__info {
  color: #fff;
}
.products__info-info {
  color: #3a3a3a;
  padding: 10px 20px;
  font-size: 15px;
  

}


@media (min-width: 990px) {
  .products__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  }
  .box__img-info{
    width: 245px;
    padding: 50px;
    margin-bottom: 0%;
  }
  .products__info-title{
    position: relative;
    bottom: 350px;
    left: 610px;
  }

  .products__info-info{
    position: relative;
    bottom: 400px;
    width: 400px;
    left: 610px;
  }
} 


@media (min-width: 1440px) {
  .products__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  }
  .box__img-info {
    width: 310px;
    height: 425px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 150px;
  }
  
  .products__info-title {
    width: 100%;
    text-align: right;
    
    position: relative;
    bottom: 300px;
    
  }
  .products-info__footer {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    position: relative;
    left: 18rem;
    top: 5rem;
  }
  .products-info__Quantity-btn{
    position: relative;
    right: 130px;
  }
  .products__info-info {
    color: #3a3a3a;
    font-size: 17px;
    position: relative;
    bottom: 100px;
    width: 550px;
    text-align: center;
    position: relative;
    bottom: 300px;
    left: 1100px;
    
     
}
.product__info-btn{
    width: 500px;
    text-align: left;
    
}
    
 }